		*{
			margin: 0;
		}
		a{
			text-decoration: none;
		}
		h1{
			font-size: 45px;
			text-align: center;
			border-bottom: 1px solid grey;
			margin: 0;
			padding: 20px;
		}
		#night_day{
			font-size: 20px;
			margin-left: 30px;
		}
		#grid{
			display: grid;
			grid-template-columns: 150px 1fr;
		}
		#grid ol{
			padding-left: 40px;
			border-right: 1px solid grey;
			margin: 0;
			padding: 20px;
			padding-left: 47px;
		}
		#grid #article{
			padding-left:30px; 
		}
		@media (max-width: 800px) {
			#grid{
				display: block;
			}
			ol{
				border-right: none;
			}
			h1{
				border-bottom: none;
			}
		}